@if (selectedCourse != null)
{

    <section id="course-showcase">
        <img class="header-image" src="@selectedCourse.ImageHeaderUri" alt="background image" />
        <div class="container">
            <div class="path">
                <span><i class="fa-sharp fa-thin fa-house"></i> Home <i class="fa-thin fa-chevrons-right"></i> Courses <i class="fa-thin fa-chevrons-right"></i> @selectedCourse.Title</span>
            </div>

            <div class="header-container">
                <div class="tags">
                    @if (selectedCourse.IsBestseller)
                    {
                        <div class="tag-1">
                            <span class="text-s">Best seller</span>
                        </div>
                    }
                    <div class="tag-2">
                        <span class="text-s">Digital</span>
                    </div>
                </div>
                <div class="course-title">
                    <h1>@selectedCourse.Title</h1>
                    <span class="text-lg">@selectedCourse.Content!.Description</span>
                </div>
                <div class="author-rating-box">
                    <div class="interactions">
                        <div class="rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-regular fa-star"></i>
                        </div>
                        <span class="text-m">(@selectedCourse.Reviews reviews)</span>
                        <span class="text-m"><i class="fa-light fa-thumbs-up"></i> @selectedCourse.Likes likes</span>
                        <span class="text-m"><i class="fa-regular fa-clock"></i> @selectedCourse.Hours hours</span>
                    </div>
                    <div class="author">
                        <img src="/images/albert-flores.svg" alt="author image" />
                        <div class="created-by">
                            <span class="text-m">Created By</span>
                            @foreach (var author in selectedCourse.Authors!)
                            {

                                <span class="text-m">@author.Name</span>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@code {
    [Parameter]
    public CourseCardWithDetails selectedCourse { get; set; }
}