@using System.Net.Http.Json

@inject IConfiguration Configuration

@if (selectedCourse != null)
{
    <div class="course-content container">
        <div class="description-section">
            <div class="learn-points">
                <div class="description">
                    <p>Course Description</p>
                    <p>@selectedCourse.Content.ProgramDetails</p>
                </div>
                <div class="learn">
                    <p>What you'll learn</p>
                    <ul class="list" style="list-style-type: none;">
                        @if (selectedCourse.Content != null && selectedCourse.Content.ProgramDetails != null && selectedCourse.Content.ProgramDetails.Any())
                        {
                            <ul>
                                @foreach (var learnpoint in selectedCourse.Content.LearnPoints)
                                {
                                    <li>@learnpoint</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>No program details available.</p>
                        }
                    </ul>
                </div>
            </div>
            <div class="course-info">
                <div class="course-box">
                    <p class="title">This course includes:</p>
                    <p><i class="fa-sharp fa-light fa-display"></i> @selectedCourse.Hours on-demand video</p>
                    <p><i class="fa-thin fa-file"></i> @selectedCourse.Content?.ProgramDetails?.Count articles</p>
                    <p><i class="fa-sharp fa-thin fa-download"></i> @selectedCourse.Content?.ProgramDetails?.Count downloadable resources</p>
                    <p><i class="fa-regular fa-infinity"></i> Full lifetime access</p>
                    <p><i class="fa-sharp fa-thin fa-trophy"></i> Certificate of completion</p>

                    <div class="course-price">
                        @if (selectedCourse.Prices != null && selectedCourse.Prices.Discount > 0)
                        {
                            <p class="discount-price">$@selectedCourse.Prices.Discount</p>
                            <p class="ord-price" style="text-decoration:line-through;">$@selectedCourse.Prices.Price</p>
                        }
                        else
                        {
                            <p style="text-decoration:none" class="ord-price">$@selectedCourse.Prices.Price</p>
                        }
                    </div>
                    <NavLink class="btn-theme">Join Course</NavLink>
                </div>
            </div>
        </div>
        <div class="details-section">
            <p class="details-title">Program Details</p>
            <ol class="detail-list">
                @if (selectedCourse.Content != null && selectedCourse.Content.ProgramDetails != null)
                {
                    @foreach (var detail in selectedCourse.Content.ProgramDetails)
                    {
                        <li class="item">
                            <p class="title">@detail.Title</p>
                            <p class="subtitle">@detail.Description</p>
                        </li>
                    }
                }
            </ol>
        </div>
    </div>
}
else
{
    @if (ErrorMessage)
    {
        <p>NÅGOT ÄR FEL!</p>
    }
}

@code {
    [Parameter]
    public CourseCardWithDetails selectedCourse { get; set; }

    [Parameter]
    public bool ErrorMessage { get; set; }
}