@* ﻿@model PageNotFoundViewModel

@{
    ViewData["Title"] = "Ooops!, Page was not found";
} *@

<section id="not-found">
    <div class="container">
        <div class="image">
            @* <img src="@Model.ImageUrl" alt="@Model.AltText" /> *@
        </div>
        <div class="text">
@*             <h2>@Model.Title</h2>
            <p>@Model.Description</p> *@
            @* <NavLink class="btn-theme" asp-controller="Home" asp-action="Index"><i class="@Model.ButtonIcon"></i>@Model.ButtonText</NavLink> *@
        </div>
    </div>
</section>