@using Silicon.Blazor.ViewModels.Home
<section id="@Model.Id" class="download">
    <div class="container">
        <div class="content">
            <div class="img-container">
                <img src="@Model.Image.ImageUrl" alt="@Model.Image.AltText" />
            </div>
            <div class="right">
                <h1>@Model.SectionTitle.Title</h1>
                <div class="boxes">
                    @if (Model.DownloadBox is not null)
                    {
                        foreach (var box in Model.DownloadBox)
                        {
                            <div class="apps">
                                <div class="box-text">
                                    <p>@box.StoreName</p>
                                    <div class="five-stars">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <h4>@box.Title</h4>
                                    <p>@box.Rating</p>
                                </div>
                                <div class="box-img">
                                    <a href="@box.LinkUrl"><img src="@box.Image.ImageUrl" alt="@box.Image.AltText" /></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    DownloadModel Model { get; set; } = new DownloadModel();
}
